[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "matlab/matlab_utilities"]
	path = matlab/matlab_utilities
	url = https://github.com/goromal/matlab_utilities.git
